@page "/admin/Department/Add"

@inherits AddDepartmentBase

<ContentHeader Title="Department" />
<div class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Add Department</h3>
        </div>
        <EditForm Model="@departmentModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="DeptName">Department Name</label>
                    </div>
                    <div class="col-sm-10">
                        <InputText class="form-control" id="name" @bind-Value="departmentModel.DeptName" />
                        <ValidationMessage For="() => departmentModel.DeptName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        @if (errorMassage != null)
                        {
                            <p class="text-danger">*@errorMassage</p>
                        }

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-secondary">Submit</button>
                <a class="float-right" href="/admin/department/list">Department List</a>
            </div>
        </EditForm>

    </div>
</div>

