@page "/admin/department/{id:int}/details"

@using Models
@using Services.Interface

@inject IDepartmentManager DepartmentManager 

<ContentHeader Title="Department" />
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Department Details</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal text-center">
                <dt>
                    Department Name
                </dt>

                <dd>
                    @department.DeptName
                </dd>

                <p>
                    <a href="/admin/Department/@department.Id/edit">Edit</a> |
                    <a href="/admin/department/list">Department List</a>
                </p>
            </dl>
        </div>
        <!-- /.card -->
    </div>
</section>

@code {
    [Parameter] public int Id { get; set; }
    private DepartmentModel department { get; set; }

    protected override void OnInitialized()
    {
        department = DepartmentManager.Get(Id);
    }

}
