@inherits LayoutComponentBase

<div class="wrapper">
    <!-- Navbar -->
    <Navbar />


    <!-- Main Sidebar Container -->
    <MainSidebar />

    <div class="content-wrapper">
        <!--Content Header-->
        <ContentHeader />

        <!--Dynamic body -->
        @Body

    </div>

    <!--Footer-->
    <Footer />

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>