@typeparam TElement

@if (Elements == null)
{
    if (NullTemplate == null)
    {
        <div class="card">
            <div class="card-header">
                <div class="loader"></div>
            </div>
        </div>
    }
    else
    {
        @NullTemplate 
    }
}
else if (Elements.Count == 0)
{
    if (EmptyTemplate == null)
    {
        <div class="content">
            <div class="card">
                <div class="card-header">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    }
    else
    {
        @EmptyTemplate 
    }
}
else
{ 
    if (WithElementsTemplate != null)
    {
        @WithElementsTemplate 
    }
    else
    {
        foreach (var element in Elements)
        {
            @WithIndividualElementTemplate(element)
        }
    }
}


@code { 
    [Parameter] public List<TElement> Elements { get; set; }
    [Parameter] public RenderFragment NullTemplate { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    [Parameter] public RenderFragment WithElementsTemplate { get; set; }
    [Parameter] public RenderFragment<TElement> WithIndividualElementTemplate { get; set; }
}
